body {
    background-color: #0d0a1c;
    margin: auto;
    margin-top: 15px;
    overflow-y: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video{
    width: 100%;
}

#logo {
    width: 35%;
    margin-bottom: 30px;
    transform: translate(23px, 10px);
}

#textFooter {
    position: fixed;
    font-weight: bold;
    bottom: 9px;
    z-index: 1001;
    color: black;
    font-size: 23px;
}

#deo {
    width: 22%;
}

#promo {
    width: 60%;
    align-self: center;
}

#logoImg {
    display: flex;
    justify-content: space-around;
}

p, 
h1 {
    color: white;
}

h1 {
    font-size: 14px;
}

p {
    margin: 0px;
    font-size: 12px;
}

#paragraphe {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgFooter {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#map {
    height: 132px;
    width: 132px;
    border-radius: 50%;
    margin: auto;
    margin-top: 15px;
}

.fas {
    color: #b39561;
    position: absolute;
    bottom: 45px;
    font-size: 30px;
}

#container {
    position: absolute;
    transform: translate(0px, 53px);

}



